@charset "UTF-8";
/*head部分开始*/
.head {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    z-index: 14;
}

.bann img {
    margin: 18px 0 0 16px;
    float: left;
}

.head_r {
    float: right;
}

.head_r a {
    display: block;
    width: 60px;
    height: 60px;
    color: #ffffff;
    float: left;
    text-align: center;
    text-decoration: none;
    font: 600 14px/60px "宋体";
}

.head_r a:hover {
    background-color: #1763A7;
    color: #ffffff;
}

/*head部分结束*/

/*轮播图开始*/
#lab_slider {
    width: 1349px;
    height: 613px;
    margin: 0 auto;
    position: relative;

}

.slider_show {
    width: 1349px;
    height: 613px;
    position: relative;
    overflow: hidden;
}

#lab_slider img {
    width: 1349px;
    height: 615px;
}

.slider_show ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 600%;
}

.slider_show ul li {

    float: left;
    position: relative;
}

#lab_slider .slider_title {
    width: 834px;
    height: 138px;
    background: url("../images/imgesTitle.png") no-repeat 0 -40px;
    position: absolute;
    top: 50%;
    left: 300px;
    z-index: 99;
    text-align: center;
}

#lab_slider .tow {
    background: url("../images/imgesTitle.png") no-repeat 0 -240px;
}

#lab_slider .three {
    background: url("../images/imgesTitle.png") no-repeat 0 -384px;
}

#lab_slider .four {
    height: 213px;
    background: url("../images/imgesTitle.png") no-repeat 0 -610px;
}

.slider_show ol {
    position: absolute;
    right: 648px;
    bottom: 32px;
    line-height: 20px;
    text-align: center;
}

.slider_show ol li {
    float: left;
    width: 6px;
    height: 6px;
    background: url("../images/imgesTitle.png") no-repeat -72px -778px;
    margin-left: 10px;
    cursor: pointer;
}

.slider_show ol li.current {
    background: url("../images/imgesTitle.png") no-repeat -66px -778px;
}

#arr span {
    width: 33px;
    height: 62px;
    line-height: 62px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background: url("../images/imgesTitle.png") no-repeat 0 -778px;
    cursor: pointer;
    text-align: center;
}

#arr #left {
    left: 60px;
}

#arr #right {
    background: url("../images/imgesTitle.png") no-repeat -33px -778px;
    right: 60px;
}

#lab_slider .slider_tip {
    width: 17px;
    height: 8px;
    margin-left: -9px;
    background: url("../images/imgesTitle.png") no-repeat -78px -778px;
    /*background-color: red;*/
    position: absolute;
    bottom: 16px;
    left: 50%;
}

/*轮播图结束*/